2020NBAenv/
*.csv
modVSmkt.png
model_Current.png
bettingModelScrape.pem
prediction_app/teamLogos/
*.json
*.ini
.DS_Store
*.xlsx
prediction_app/postgres/
prediction_app/__pycache__
*.app
prediction_app/2020predictions/
csvOdds/
excelOdds/
.dockerignore
.ebignore
.firebaserc
.gitignore
app.service
.ipynb_checkpoints/